h1{
text-align:center;
  color:black;
}
h3{
text-align:center;
  color:black;
}

div{
  list-style:none;
}

.person{
  float:left;
  padding:20px;
  margin:30px;
  max-width:600px;
  background-color:lightgray;
}