h1{
text-align:center;
  color:saddlebrown;
}
h3{
text-align:center;
  color:limegreen;
}

div{
  list-style:none;
}

.container{
	text-align:center;
}

.person{
  float:left;
  padding:20px;
  margin:30px;
  max-width:600px;
  background-color:black;
}